<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>  
  <%= stylesheet_link_tag "default" %>
  <%= javascript_include_tag "jquery.js" %>
  
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "protoload.js" %>
  <script type="text/javascript">
    window.onload=function(){
    if ($('flash').visible()) { new Effect.Fade("flash",{duration:5.0}); } }
  </script>
</head>
<body onload="resize()">
  <div id="container">
    <%= render :partial => 'shared/header' %>
    <%= render_flash %>
  
    <div id="page">
      <div id="content">
        <div id="post">
          <%= yield  %>
        </div>
      </div>
      <%= render :partial => 'shared/sidebar'%>      
    </div>

    <%= render :partial => 'shared/footer' %>
  </div>

</body>
</html>
