<h1>Editing study_session</h1>

<% form_for(@study_session) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :study_set_id %><br />
    <%= f.text_field :study_set_id %>
  </p>
  <p>
    <%= f.label :correct %><br />
    <%= f.text_field :correct %>
  </p>
  <p>
    <%= f.label :seen %><br />
    <%= f.text_field :seen %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @study_session %> |
<%= link_to 'Back', study_sessions_path %>