<h1>Editing exam</h1>

<% form_for(@exam) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :dictionary_id %><br />
    <%= f.text_field :dictionary_id %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :difficulty_id %><br />
    <%= f.text_field :difficulty_id %>
  </p>
  <p>
    <%= f.label :exam_state_id %><br />
    <%= f.text_field :exam_state_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @exam %> |
<%= link_to 'Back', exams_path %>