<h2> <%=h "#{current_user.login}'s word suggestions" %> </h2>

<table class="resulttable">
  <tr>
    <th>Suggested Word</th>
    <th>Suggested Translation</th>
    <th>State</th>
  </tr>

<% @suggestions.each do |suggestion| %>
  <tr>
    <td id="<%= suggestion.id %>_d1"><%=h suggestion.word_name %></td>
    <td id="<%= suggestion.id %>_d2"><%= format_translation(suggestion.translation) %></td>
    <td>
      
      <% if suggestion.state_id == SuggestionState.approved_id %>
        <%= image_tag "check.gif", :alt => "Approved" %>
        
        <small><%= link_to_remote "Details", { :url => { :action => "details", :id => suggestion.id }, :method => :get } %></small>
      <% elsif suggestion.state_id == SuggestionState.rejected_id %>
        <%= image_tag "close.gif", :alt => "Rejected" %>
        
        <small><%= link_to_remote "Details", { :url => { :action => "details", :id => suggestion.id }, :method => :get } %></small>
      <% else %>
        <%= image_tag "question.gif", :alt => "Waiting" %>
      <% end %>

      <div id="<%= suggestion.id %>_div">
        
      </div>
    </td>
  </tr>
<% end %>
</table>